<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMMQUOTO</title>
</head>
<body>
    <a href="/lava_verify=KP9DQwAat8XBfMiUm6GST2k0joNlgeHrc7xYRzIv3Wp1Cu4n">hello</a>
</body>
</html>